.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

input {
    width: 40px;
}

.content {
    max-width: 700px;
    margin: 20px auto;
    padding: 0 20px;
}

.tile {
    margin: 5px;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.tile.active {
    background-color: #7ac870;
}

.tile.start {
    background-color: #467aff;
}

.tile.end {
    background-color: #ff4346;
}