<div>
    <h3>A* Pathfinding:</h3>

    <form class="grid" ng-submit="submit()">

        <div class="grid_options">
            <div>
                <label for="restrict">Restrict movement to right and down: </label>
                <input type="checkbox" id="restrict" name="restrict" ng-model="restrict" />
            </div>
            <div>
                <label for="isHex">Use hexadecimal for input: </label>
                <input type="checkbox" id="isHex" name="isHex" ng-model="isHex" ng-click="flipInput()" />
            </div>
        </div>
        <br/>

        <div class="grid_row">
            <input class="tile tile_0_0 start" type="text" ng-model="grid[0][0]" />
            <input class="tile tile_0_1" type="text" ng-model="grid[0][1]" />
            <input class="tile tile_0_2" type="text" ng-model="grid[0][2]" />
            <input class="tile tile_0_3" type="text" ng-model="grid[0][3]" />
            <input class="tile tile_0_4" type="text" ng-model="grid[0][4]" />
            <input class="tile tile_0_5" type="text" ng-model="grid[0][5]" />
        </div>

        <div class="grid_row">
            <input class="tile tile_1_0" type="text" ng-model="grid[1][0]" />
            <input class="tile tile_1_1" type="text" ng-model="grid[1][1]" />
            <input class="tile tile_1_2" type="text" ng-model="grid[1][2]" />
            <input class="tile tile_1_3" type="text" ng-model="grid[1][3]" />
            <input class="tile tile_1_4" type="text" ng-model="grid[1][4]" />
            <input class="tile tile_1_5" type="text" ng-model="grid[1][5]" />
        </div>

        <div class="grid_row">
            <input class="tile tile_2_0" type="text" ng-model="grid[2][0]" />
            <input class="tile tile_2_1" type="text" ng-model="grid[2][1]" />
            <input class="tile tile_2_2" type="text" ng-model="grid[2][2]" />
            <input class="tile tile_2_3" type="text" ng-model="grid[2][3]" />
            <input class="tile tile_2_4" type="text" ng-model="grid[2][4]" />
            <input class="tile tile_2_5" type="text" ng-model="grid[2][5]" />
        </div>

        <div class="grid_row">
            <input class="tile tile_3_0" type="text" ng-model="grid[3][0]" />
            <input class="tile tile_3_1" type="text" ng-model="grid[3][1]" />
            <input class="tile tile_3_2" type="text" ng-model="grid[3][2]" />
            <input class="tile tile_3_3" type="text" ng-model="grid[3][3]" />
            <input class="tile tile_3_4" type="text" ng-model="grid[3][4]" />
            <input class="tile tile_3_5" type="text" ng-model="grid[3][5]" />
        </div>

        <div class="grid_row">
            <input class="tile tile_4_0" type="text" ng-model="grid[4][0]" />
            <input class="tile tile_4_1" type="text" ng-model="grid[4][1]" />
            <input class="tile tile_4_2" type="text" ng-model="grid[4][2]" />
            <input class="tile tile_4_3" type="text" ng-model="grid[4][3]" />
            <input class="tile tile_4_4" type="text" ng-model="grid[4][4]" />
            <input class="tile tile_4_5" type="text" ng-model="grid[4][5]" />
        </div>

        <div class="grid_row">
            <input class="tile tile_5_0" type="text" ng-model="grid[5][0]" />
            <input class="tile tile_5_1" type="text" ng-model="grid[5][1]" />
            <input class="tile tile_5_2" type="text" ng-model="grid[5][2]" />
            <input class="tile tile_5_3" type="text" ng-model="grid[5][3]" />
            <input class="tile tile_5_4" type="text" ng-model="grid[5][4]" />
            <input class="tile tile_5_5 end" type="text" ng-model="grid[5][5]" />
        </div>

        <br/>
        <button class="grid_submit">Find path</button>
    </form>

</div>